<div id="post_content">
	<%	if @user==current_user%>
	<p>*點擊任何欄位都可以直接做修改</p>
	<% end %>
	<h1 class="title">
		<%= link_to image_tag(@user.image) ,@user.link %>
		<%	if @user==current_user%>
		<%= best_in_place @user, :name %>
		<% else%>
		<%=	@user.name %>
		<% end %>
	</h1>
	<p class="body">
		email：
		<%	if @user==current_user%>
		<%=  best_in_place @user, :email %>
		<%else%>
		<%=  @user.email %>
		<% end %>
	</p>
	<div class="team">
		
	</div>
	<p class="talent">
	</p>

	<% if false%>
	<div id="comments">
		<h2><%= @user.comments.count %> Comments</h2>
		<%= render @people.comments %>

		<h3>Add a comment:</h3>
		<%= render "comments/form" %>
	</div>
	<% end %>

</div>