<div id="post_content">
	<%if is_me %>
		<%= @user.uid%>
	<% end %>
	<% if is_authorized_user %>
		<%= best_in_place @user, :is_register_confirmed, as: :checkbox, collection: {false: "尚未確認", true: "報名完成"}%>
	<% end %>
	<%	if @user==current_user || is_authorized_user %>

		<!--register confirmed-->
		<% if @user.is_register_confirmed == true %>
		<font color="green">恭喜！已完成報名手續!!</font>
		<% end %>
		<!--register confirmed-->

	<p>*點擊任何欄位都可以直接做修改</p>
		<h1 class="title">
			
			報名者：
			<%= link_to image_tag(@user.image) ,@user.link %>
			<%=  best_in_place @user, :name %>

		</h1>
		<hr>
		<% sportfee = [0,3500,3500, 3500, 3500, 3500, 3000 ,2500];%>
		<p>是否加保險(若不保險，比賽第一天檢錄時繳交切結書) <%= best_in_place @user, :has_insurance, as: :checkbox, collection: {false: "否", true: "是"} %> </p> 
		<% fee = 1000 + sportfee[@user.sport.to_i] %>
		<% if @user.has_insurance %>
		<% fee += @user.members.count*37 %>
		<% end%>
		<p>應繳金額<%=  fee %></p>
		<p>轉帳人帳號後五碼 (匯款請填 匯款人 姓名)：<%= best_in_place @user, :transfercode %></p>
		
		<p class="body">
			聯絡信箱：
			<%= best_in_place @user, :email %>
			</br>
			學校：
			<%= best_in_place @user, :school %>
			</br>
			
			科系：
			<%= best_in_place @user, :department %>
			</br>
			
			球類：
			<%= best_in_place @user, :sport, :as => :select, :collection => {"1" => "男籃", "2" => "女籃", "3" => "男排","4" => "女排", "5" => "壘球", "6" => "羽球", "7" => "桌球"}, :id => "balltype" %>
			</br>

			隊長姓名(必須為隊員之一)：
			<%= best_in_place @user, :captain %>
			</br>
		</p>
		

		<div id="member_wrapper">
		<hr>
			目前隊員人數：<%= @user.members.count%></br>
			<table>
			<tr>
				<th>證件照</th><th>學生證正面</th><th>學生證背面(若無註冊章，則用在學證明)</th><th>第二證件正面</th><th>第二證件背面</th><th>姓名</th><th>體保生</th><th>身份證字號</th><th>生日</th><th>學號</th><th>手機</th><th>備註</th>
			</tr>
			<% @user.members.each do |member|%>
			<tr>
				<th>
					<%= form_for member, html: { multipart: true } do |f| %>
						<%= puts member.image %>
					    <%= image_tag(member.image.thumb) if member.image? %>
					    <%= f.file_field :image ,accept: 'image/png,image/gif,image/jpeg', :class => 'file-input-field' %> 
					    <%= f.submit "上傳",:class => 'file-upload-button' %>
					<% end %>
				</th>
				<th>
					<%= form_for member, html: { multipart: true } do |f| %>
						<!-- image -->
						<% if is_authorized_user %>
					    <%= image_tag(member.studentidcardfront, height: "200") if member.studentidcardfront? %>
					    <% else %>
					    <%= image_tag(member.studentidcardfront.thumb) if member.studentidcardfront? %>
					    <% end %>
					    <%= f.file_field :studentidcardfront ,accept: 'image/png,image/gif,image/jpeg', :class => 'file-input-field'%> 
					    <%= f.submit "上傳",:class => 'file-upload-button' %>
					<% end %>
				</th>
				<th>
					<%= form_for member, html: { multipart: true } do |f| %>
						<!-- image -->
						<% if is_authorized_user %>
							<%= image_tag(member.studentidcardback, height: "200") if member.studentidcardback? %>
						<% else %>
					    	<%= image_tag(member.studentidcardback.thumb) if member.studentidcardback? %>
					    <% end %>
					    <!-- image -->
					    <%= f.file_field :studentidcardback ,accept: 'image/png,image/gif,image/jpeg',:class => 'file-input-field'%> 
					    <%= f.submit "上傳",:class => 'file-upload-button' %>
					<% end %>
				</th>
				<th>
					<%= form_for member, html: { multipart: true } do |f| %>
						<!-- image -->
						<% if is_authorized_user %>
					    	<%= image_tag(member.idcardfront, height: "200") if member.idcardfront? %>
					    <% else%>
					    	<%= image_tag(member.idcardfront.thumb) if member.idcardfront? %>
					    <% end %>
					    <!-- image -->
					    <%= f.file_field :idcardfront ,accept: 'image/png,image/gif,image/jpeg',:class => 'file-input-field'%> 
					    <%= f.submit "上傳" ,:class => 'file-upload-button'%>
					<% end %>
				</th>
				<th>
					<%= form_for member, html: { multipart: true } do |f| %>
						<% if is_authorized_user %>
							<%= image_tag(member.idcardback, height: "200") if member.idcardback? %>
						<% else%>
					    	<%= image_tag(member.idcardback.thumb) if member.idcardback? %>
					    <% end %>
					    <%= f.file_field :idcardback ,accept: 'image/png,image/gif,image/jpeg',:class => 'file-input-field'%> 
					    <%= f.submit "上傳" ,:class => 'file-upload-button'%>
					<% end %>
				</th>
				<th><%= best_in_place member, :name %> </th>
				<th><%= best_in_place member, :isGifted, :as => :checkbox,collection: {false: "否", true: "是"}  %> </th>
				<th> <%= best_in_place member, :person_id %></th>
				<th> <%= best_in_place member, :birthday %></th>
				<th> <%= best_in_place member, :school_id %></th>
				<th> <%= best_in_place member, :cellphone %></th>
				<th> <%= best_in_place member, :etc %></th>
				<th><%= link_to "刪除",  member_path(member), method: :delete, data: { confirm: 'Are you sure?' } %></th>
			</tr>
			<% end %>
			
			<%= javascript_tag do %>		
			$('.file-upload-button').on('click', function (e) {
				var index = $('.file-upload-button').index($(this))
				console.log(index);
    			var input_field = $('.file-input-field')[index];
    			console.log(input_field);
    			input_field.click();
    			e.preventDefault();
			});
			
			$('.file-input-field').change(function(e){
				$(this).closest("form").submit();
			});

			<% end %>

			 </table>
		<hr>
		<% limit = [15,18,18,18,18,25,15,16] %>
		<% if  @user.members.length < limit[@user.sport.to_i] %>
		<div>
			<h3>新增隊員</h3>
			<%= render "members/form", :user=>@user %>
		</div>
		<% else %>
			<p>隊員人數已達上限</p>		
		<% end %>
	<% end %>


</div>