<div id='main-core'>
	<p>球賽規則</p>	
	<div>
		<li><%= link_to "籃球", rules_basketball_path %></li>
		<li><%= link_to "排球", rules_volleyball_path %></li>
		<li> <%= link_to "壘球", rules_softball_path %></li>
		<li> <%= link_to "羽球", rules_badminton_path %>	</li>
		<li> <%= link_to "桌球", rules_pingpong_path %>	</li>
	</div>
</div>