<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<% if false %>
			<%= link_to root_path do %>
				<%= image_tag "logo.svg" %>
			<% end %>
			<% end %>
		</div>
		<ul>
		
			<li class="category">Website</li>
			<%puts current_user %>
			<% if current_user%>
			<li><%= link_to "更改隊伍資料",user_path(current_user) %></li>
			<% end %>
			<li><%= link_to "報名規則", teams_path %></li>
			<li><%= link_to "章程賽制", root_path %></li>
			<li><%= link_to "公告", users_path %></li>
			<li><%= link_to "賽程", talents_path %></li>
			<li><%= link_to "關於此計畫", about_path %></li>
		</ul>
		<div>
			<p class="memeber">總會員人數 <strong><%= User.count%></strong></p>
		</div>
		<div>
		  <% if current_user %>
		    <p class="sign_in">Signed in as <strong><%= current_user.name %></strong>!
		    	<%= link_to "Sign out", signout_path, id: "sign_out" %>
		    </p>
		    
		  <% else %>
		    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

		  <% end %>
		</div>
	
	</div>
	<div id="main_content">
		<div id="header">
			<% if current_page?(root_path)%>
				<p>All Posts</p>
				<div class="buttons">
					<button class="button"><%= link_to "New Post", new_post_path %></button>
				</div>
			<% elsif current_page?(teams_path)%>
				<p>Teams</p>
				<div class="buttons">
					<button class="button"><%= link_to "新增團隊", new_team_path %></button>
				</div>
			<% elsif params[:controller] == 'teams' && %w(new show).include?(params[:action])%>
				<button class="button"><%= link_to "回到團隊", teams_path %></button>
			<% else%>

				<p>else</p>
			<% end %>
		</div>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>


		<%= yield %>
	</div>
</body>
</html>
