<%= form_for([@user, @user.members.build]) do |f| %>

	<%= f.hidden_field :uid, :value => @user.id%>	


	<label>證件照</label>				  
	<%= f.file_field :image %>
	<br>				    

	<label>學生證正面</label>				  
	<%= f.file_field :image %>
	<br>				    

	<label>學生證背面</label>				  
	<%= f.file_field :image %>
	<br>				    

	<label>第二證件正面</label>				  
	<%= f.file_field :image %>
	<br>				    

	<label>第二證件背面</label>				  
	<%= f.file_field :image %>
	<br>				    


	
	<label>姓名</label>
	<%= f.text_field :name %><br>
	<br>
	<label>身份證字號</label>
	<%= f.text_field :person_id %><br>
	<br>
	
	<label>生日</label>
	<%= f.text_field :birthday %><br>
	<br>

	<label>學號</label>
	<%= f.text_field :school_id %><br>
	<br>
	
	<label>手機</label>
	<%= f.text_field :cellphone %><br>
	<br>

	<label>備註</label>
	<%= f.text_field :etc %><br>
	<br>

	<%= f.submit "新增隊員" %>
<% end %>